.btn {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  position: fixed;
  right: 64px;
  top: 92px;
  background-color: #1e88e5;

  i {
    font-size: 50px;
    color: #fff;
  }
}

.img {
  width: 50px;
}

.span {
  
  position: absolute;
  bottom: -19px;
  right: -10px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background-color: #1e88e5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
